:root {
    --offblue-color: #E2D1f9;
    --offgreen-color: #317773;
    --OFFWHITE-color :#FCF6F5FF;
    --RED-color: #990011FF;
    --GREEN-color:#CCF381 ;
    --ELECTRIC-BLUE-color:#4831D4 ;
    --CHARCOAL-color:#101820FF ;
    --YELLOW-color:#FEE715FF ;
    --OFFREAD-color:#F96167 ;
    --OFFYELOW-color:#FCE77D ;
    --BLUE-color:#2F3C7E ;
    --PINK-color:#FBEAEB ;
    --ROYAL-BLUE-color:#00539CFF ;
    --PEACH-color:#EEA47FFF ;
}